.dialogue-pane {
    -fx-background-color: rgba(0, 0, 0, 0.75);
    -fx-padding: 15;
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.dialogue-pane .text-area {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-color: transparent;
}