.pause-overlay {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}
.pause-text {
    -fx-text-fill: white;
    -fx-font-size: 36px;
    -fx-text-alignment: center;
}

.forge-title {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.label-available {
    -fx-text-fill: white;
}
.label-unavailable {
    -fx-text-fill: red;
}
